@import "scss/reset";
@import "scss/base";
@import "scss/variables.scss";

#global_container {
  height: fit-content;
  margin: 0 auto;
  width: 375px;
  background-color: #fafafa;
  position: relative;

  header {
    height: 300px;
    background-image: url(../assets/image-hero-mobile.jpg);
    background-size: 100%;
    position: relative;

    #mobile_topbar {
      display: flex;
      width: 330px;
      margin: 0 auto;
      padding-top: 30px;
      position: relative;

      #logo {
        height: 20px;
        width: auto;
      }

      #hamburger {
        margin-top: 3px;
        height: 17px;
        width: auto;
        position: absolute;
        right: 0;

        &:hover {
          cursor: pointer;
        }
      }

      #close-menu {
        visibility: hidden;
        margin-top: 3px;
        height: 17px;
        width: auto;
        position: absolute;
        right: 0;

        &:hover {
          cursor: pointer;
        }
      }
    }

    menu {
      visibility: hidden;
      position: absolute;

      width: 330px;
      height: 210px;
      background-color: rgb(255, 255, 255);
      top: 75px;
      right: 22px;

      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.432) 0px 100px 375px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

      z-index: 1;
      padding: 0;

      ul {
        border-radius: 10px;

        li {
          margin: 0;
          padding: 0;

          text-align: left;
          font-weight: 500;
          font-size: 18px;
          line-height: 70px;
          padding-left: 23px;
          border-bottom: 1px solid #f2f2f2;

          height: 70px;

          &:last-child {
            border: none;
          }
        }
      }
    }
  }

  #headline {
    width: 330px;
    height: 315px;
    margin: 0 auto;
    margin-top: -60px;
    margin-bottom: 25px;
    position: relative;
    background-color: white;
    border: 1px solid #f2f2f2;
    border-radius: 10px;

    #mastercraft_logo {
      width: 56px;
      height: auto;
      position: absolute;
      left: 137px;
      top: -28px;
    }

    h1 {
      padding-top: 60px;
      padding-bottom: 30px;
      font-size: 22px;
      text-align: center;
      font-weight: 700;
    }

    p {
      text-align: center;
      color: $dark_gray;
      font-weight: 400;
      line-height: 1.5;
    }

    #buttons {
      display: flex;
      width: 280px;
      margin: 0 auto;
      position: relative;

      .button {
        margin-top: 30px;

        width: 210px;
        height: 60px;
        background-color: $moderate_cyan;
        color: white;
        border-radius: 30px;

        &.bookmark {
          width: 60px;
          background-color: $dark_gray;
          position: absolute;
          right: 0;
        }
      }
    }
  }

  #numbers {
    width: 330px;
    height: fit-content;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    margin-bottom: 25px;

    .number_emphase {
      font-size: 35px;
      font-weight: 700;
      text-align: center;
      margin: 0 auto;
      margin-top: 35px;
      margin-bottom: 15px;
    }

    p {
      text-align: center;
      color: $dark_gray;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 25px;
    }

    hr {
      border: 0;
      border-top: 1px solid #d4d4d4;
      width: 80px;
    }

    #progress_container {
      width: 270px;

      margin: 0 auto;

      //voir rendu firefox

      progress {
        -webkit-appearance: none;
        display: inline-block;
        width: 270px;
        height: 14px;

        margin-bottom: 30px;
      }

      ::-webkit-progress-bar {
        background-color: #f2f2f2;
        border-radius: 7px;
      }

      ::-webkit-progress-value {
        background-color: $moderate_cyan;
        border-radius: 7px;
      }
    }
  }

  #about {
    width: 330px;
    height: fit-content;
    margin: 0 auto;
    position: relative;
    background-color: white;
    border: 1px solid #f2f2f2;
    border-radius: 10px;

    #description {
      width: 274px;
      margin: 0 auto;
      margin-top: 45px;

      h2 {
        font-size: 18px;
        margin-bottom: 36px;
      }

      p {
        font-weight: 400;
        font-size: 13px;
        color: $dark_gray;
        line-height: 1.5;
        margin-bottom: 36px;
      }
    }

    #funding_options {
      li {
        width: 280px;
        margin: 0 auto;
        padding: 25px;
        border: 1px solid #cacaca;
        border-radius: 10px;
        margin-bottom: 25px;

        h3 {
          font-size: 15px;
          font-weight: 700;
          margin-bottom: 15px;
        }
        #cost {
          color: $moderate_cyan;
          font-weight: 500;
        }

        p {
          margin-top: 30px;
          color: $dark_gray;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.5;
        }

        #quantity {
          margin-top: 40px;
          margin-bottom: 30px;
          display: flex;

          span {
            font-size: 30px;
            color: black;
            margin-right: 5px;
            font-weight: 700;
          }
          line-height: 30px;
          color: $dark_gray;
          font-weight: 400;
        }

        &.disabled {
          opacity: 0.6;
        }
      }
    }
  }

  #modal_pledge {
    display: "none";
    position: absolute;
    width: 330px;
    height: fit-content;
    right: 22px;
    top: 170px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.432) 0px 100px 375px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 30px;

    #modal_header {
      display: flex;
      line-height: 17px;
      margin-bottom: 30px;

      h2 {
        font-size: 18px;
      }

      img {
        height: 17px;
        width: auto;
        position: absolute;
        right: 30px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    #pledge_description {
      line-height: 1.5;
      font-size: 14px;
      font-weight: 400;
      color: $dark_gray;
      margin-bottom: 10px;
    }

    ul {
      li {
        width: 280px;
        height: fit-content;
        margin: 20px auto;
        border: 1px solid #cacaca;
        padding: 20px;
        border-radius: 8px;

        #pledge_type {
          display: flex;
          height: 24px;
          margin-bottom: 30px;
          line-height: 24px;

          position: relative;

          input[type="checkbox"] {
            -webkit-appearance: none;
            appearance: none;
            background-color: #fff;
            margin: 0;
            width: 24px;
            height: 24px;
            border: 1px solid #cacaca;
            border-radius: 12px;
            margin-right: 15px;
            // transform: translateY(-0.075em);
            display: grid;
            place-content: center;

            &:hover {
              cursor: pointer;
            }

            &:before {
              content: "";
              width: 12px;
              height: 12px;
              border-radius: 6px;
              transform: scale(0);
              transition: 120ms transform ease-in-out;
              background-color: $moderate_cyan;
            }

            &:checked:before {
              content: "";
              transform: scale(1);
            }
          }

          div {
            position: absolute;
            left: 36px;
            top: -12px;

            span {
              color: $moderate_cyan;
              font-weight: 500;
            }
          }
        }

        p {
          margin-bottom: 15px;
          color: $dark_gray;
          font-weight: 400;
          line-height: 1.5;
          font-size: 14px;
        }

        #left {
          span {
            font-weight: 700;
            margin-right: 10px;
            color: black;
          }
          font-weight: 300;
          color: $dark_gray;
        }

        .pledge_amount {
          display: none;
          // position: absolute;
        }

        &.selected {
          border: 2px solid $moderate_cyan;

          .pledge_amount {
     
            position: relative;

            hr {
              width: 276px;
              margin-top: 28px;
              margin-left: -20px;
              border: none;
              border-top: 1px solid #cacaca;
            }

            #pledge_label {
              margin: 0;
              margin-top: 34px;
              text-align: center;
              margin-bottom: 24px;
            }

            #input {
              display: flex;
              position: relative;

              input[type="number"] {
                width: 100px;
                height: 50px;
                border: 1px solid #cacaca;
                border-radius: 25px;
                appearance: none;
                -webkit-appearance: none;
                padding-left: 35px;
              }

              //hide arrows
              input::-webkit-outer-spin-button,
              input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }

              .unit {
                opacity: 0.4;
                position: absolute;
                top: 16px;
                left: 20px;
              }

              .button {
                position: absolute;
                margin: 0;
                width: 116px;
                height: 50px;
                right: 0;
              }
            }
          }
        }

        &.disabled {
          opacity: 0.6;

          #pledge_type {
            input[type="checkbox"] {
              pointer-events: none;
            }
          }
        }
      }
    }
  }

  #modal_thankyou {
    visibility: hidden;
    width: 330px;
    height: 385px;
    position: absolute;
    top: 170px;
    left: 22px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.432) 0px 100px 375px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 30px;

    img {
      width: 70px;
      height: auto;
      margin: 0 auto;
    }

    h2 {
      text-align: center;
      margin: 30px 0;
      font-size: 18px;
      font-weight: 700;
    }

    p {
      color: $dark_gray;
      font-weight: 400;
      font-size: 13px;
      text-align: center;
      line-height: 1.5;
    }

    .button {
      margin: 0 auto;
      margin-top: 30px;
      width: 100px;
      height: 50px;
    }
  }

  //classes
  .button {
    margin-top: 30px;

    width: 210px;
    height: 60px;
    background-color: $moderate_cyan;
    color: white;
    border-radius: 30px;

    &.bookmark {
      width: 60px;
      background-color: $dark_gray;
      position: absolute;
      right: 0;
    }

    &.disabled {
      background-color: rgb(192, 183, 183);

      &:hover {
        pointer-events: none;
      }
    }
  }

  @media (min-width: $breakpoint-computer) {
    width: 1440px;
  }
}
