// COLORS :
// primary

$moderate_cyan: hsl(176, 50%, 47%);
$dark_cyan: hsl(176, 72%, 28%);

// neutral
$black: hsl(0, 0%, 0%);
$dark_gray: hsl(0, 0%, 48%);




//BREAKPOINTS :
$breakpoint-phone: 375px;
$breakpoint-tablet:768px;
$breakpoint-computer: 1440px;